<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card" style="width: 18rem; height: 18rem">
        <div class="card-body">
          <h5 class="card-title text-center" style="color: teal">
            Update Password
          </h5>
          <form>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="enter the password!"
                [(ngModel)]="password"
              />
            </div>
            <br />
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
              id="confirmPassword"
              name="confirmPassword"
                type="confirmPassword"
                class="form-control"
                [(ngModel)]="confirmPassword"

                placeholder="enter confirm password!"

              />
            </div>
            <br>

            <a
              class="btn btn-success d-grid"
              style="background-color: teal"
              (click)="showUpdate()"
              >Update</a
            >
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
