@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
/* @import url(https://unpkg.com/@webpixels/css/dist/index.css); */

/* .card-body{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 0px;
    padding: 0.25rem;
    margin-top: 10px;

}
.col-sm-6{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
} */

table > tbody,th,td{
    padding:0.65rem;
}
thead > th{
  border: solid 2px #333;
}
/* thead{
  background-color: #fff;
} */
/* thead > th:hover{
background-color: teal;
} */

.col-3{
    padding: 10px;
    display: flexbox;
    flex-direction: column;
}

.zoom{
  transition: tranform .2s;
}
.zoom:hover{
transform: scale(1);
/* transition: 0.1ms ease-in-out; */
box-shadow: 0 4px 8px 0 rgba(242, 238, 238, 0.2), 0 6px 20px 0 rgba(252, 249, 249, 0.19);;
}
