<app-navbar></app-navbar>

<div *ngIf="this.portfolio.length == 0" class="row">
  <div
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="rounded float-start col-md-6 col-lg-6 col-sm-12 justify-content-center align-items-center"
  >
    <h1 class="" style="font-size: 4rem">
      Didn't Invest Yet?<br />
      Invest Now!
    </h1>
  </div>
  <ng-lottie
    class="mb-5 d-flex col-md-6 col-lg-6 col-sm-12 justify-content-center align-items-center"
    [options]="options"
    (animationCreated)="animationCreated($event)"
    width="500px"
  ></ng-lottie>
</div>
<!-- <div class="row"> -->
<div class="pt-3">
  <div class="p-10 bg-surface-secondary">
    <div class="container">
      <div class="card">
        <!-- <div class="card-header">
          <h6>Portfolio</h6>
        </div> -->
        <div class="table-responsive" *ngIf="this.portfolio.length !== 0">
          <table class="table table-hover table-nowrap">
            <thead class="table-light">
              <tr>
                <th scope="col">Fund Name</th>
                <th scope="col">Provider</th>
                <th scope="col">Unit</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total</th>
                <!-- <th scope="col">Date</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of portfolio">
                <td data-label="Job Title">
                  <img alt="..." class="avatar avatar-sm rounded-circle me-2" />
                  <span class="text-heading font-semibold">
                    {{ obj.funds?.schemaName }}
                  </span>
                </td>
                <td data-label="Email">
                  <span>{{ obj.funds?.fundHouse }}</span>
                </td>
                <td data-label="Phone">
                  <span class="text-current">{{ obj.unit }}</span>
                </td>
                <td data-label="Lead Score">
                  <span class="text-current">{{ obj.price }}</span>
                </td>
                <td data-label="Company">
                  <span class="badge bg-soft-success text-success">{{
                    obj.price * obj.unit
                  }}</span>
                </td>
                <!-- <td data-label="">
                  <span class="text-current">{{
                    obj.transactionDate | date : "dd/MM/yyyy"
                  }}</span>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allfunds> </app-allfunds>
<div class="d-md-flex ml-3">
  <button type="button" class="btn" (click)="showAllMutualfund()">
    {{ showAllfund ? "Hide All" : "Show All" }}
  </button>
</div>
<!-- <div *ngIf="showAllfund"> -->
<div *ngIf="showAllfund" class="container-fluid" id="fundsection">
  <!-- <h2>Explore Funds</h2> -->

  <h1>All FUNDS</h1>
  <ul id="horizontal-list" class="horizontal-list">
    <li
      *ngFor="let fund of mutualFunds"
      [ngClass]="{ positive: fund.delta > 0, negative: fund.delta < 0 }"
    >
      <button
        class="explore-button"
        [routerLink]="'allfundsdetail/' + fund.schemaId"
        (click)="scrollElemet()"
      >
        {{ fund.schemaName }}
      </button>

      <div class="details" [class.show]="true">
        <p><strong>Fund House:</strong> {{ fund.fundHouse }}</p>

        <p><strong>Category:</strong> {{ fund.schemaCategory }}</p>

        <p><strong>Current Price:</strong> {{ fund.currentPrice }}</p>

        <p>
          <strong>Delta:</strong>
          <span [class.gain]="fund.delta > 0"
            >{{ fund.delta > 0 ? "+" : "" }}{{ fund.delta }}</span
          >
        </p>

        <button
          class="view-details"
          [routerLink]="'allfundsdetail/' + fund.schemaId"
        >
          View Details
        </button>
      </div>
    </li>
  </ul>
</div>
<!-- </div> -->
<!-- </div> -->
