<app-navbar></app-navbar>

<div *ngIf="this.portfolio.length==0" class="row" >
  <div
    data-aos="fade-right"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    class="rounded float-start col-md-6 col-lg-6 col-sm-12 justify-content-center align-items-center"
  >
    <h1
      class=""
      style="
        font-size: 4rem;
      "
    >
      Didn't Invest Yet?<br />
      Invest Now!
    </h1>

  </div>
  <ng-lottie
  class="mb-5 d-flex col-md-6 col-lg-6 col-sm-12 justify-content-center align-items-center"
  [options]="options"
  (animationCreated)="animationCreated($event)"
  width="500px"
></ng-lottie>
</div>
<div class="row">
  <div class="col-3" *ngFor="let obj of portfolio">
    <div style="width: 100%">
      <table
        class="table-success table-striped"
        style="width: 100%; padding: 1rem"
      >
        <thead>
          <th>
            {{ obj.transactionDate | date : "dd/MM/yyyy" }}
          </th>

          <!-- <th>
            <button class="btn btn-success">sell</button>
          </th> -->
        </thead>

        <tbody>
          <tr>
            <th>Fund Name:</th>

            <td>
              {{ obj.funds.schemaName }}
            </td>
          </tr>

          <tr>
            <th>Provider:</th>

            <td>
              {{ obj.funds.fundHouse }}
            </td>
          </tr>

          <tr>
            <th>Unit:</th>

            <td>
              {{ obj.unit }}
            </td>
          </tr>

          <tr>
            <th>Unit price:</th>

            <td>
              {{ obj.price }}
            </td>
          </tr>

          <tr>
            <th>Total :</th>

            <td>
              {{ obj.price * obj.unit }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="d-flex">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>

          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>

          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-allfunds> </app-allfunds>
<div class="d-md-flex ml-3">
  <button type="button" class="btn" (click)="showAllMutualfund()">
    show all funds
  </button>
</div>
<!-- <div *ngIf="showAllfund"> -->
<div *ngIf="showAllfund" class="container-fluid" id="fundsection">
  <!-- <h2>Explore Funds</h2> -->

  <h1>All FUNDS</h1>
  <ul id="horizontal-list" class="horizontal-list">
    <li
      *ngFor="let fund of mutualFunds"
      [ngClass]="{ positive: fund.delta > 0, negative: fund.delta < 0 }"
    >
      <button
        class="explore-button"
        [routerLink]="'allfundsdetail/' + fund.schemaId"
        (click)="scrollElemet()"
      >
        {{ fund.schemaName }}
      </button>

      <div class="details" [class.show]="true">
        <p><strong>Fund House:</strong> {{ fund.fundHouse }}</p>

        <p><strong>Category:</strong> {{ fund.schemaCategory }}</p>

        <p><strong>Current Price:</strong> {{ fund.currentPrice }}</p>

        <p>
          <strong>Delta:</strong>
          <span [class.gain]="fund.delta > 0"
            >{{ fund.delta > 0 ? "+" : "" }}{{ fund.delta }}</span
          >
        </p>

        <button
          class="view-details"
          [routerLink]="'allfundsdetail/' + fund.schemaId"
        >
          View Details
        </button>
      </div>
    </li>
  </ul>
</div>
<!-- </div> -->
